<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <title>Document</title>
    </head>
    <body>
        <main class="container">
            <h1>Search Result [{{keyword}}] in [{{service_type}}]</h1>
            <form action="/download">
                <button>Download For .csv</button>
            </form>
            <table class="striped">
                <thead>
                    <tr>
                        {% for e in head_list: %}
                        <th>{{e}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>
